#catalogue {
  @include center-form;
  display: flex;
  flex-direction: column;

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-bottom: 1rem;
  }

  .content {
    width: 70%;
  }

  h3 {
    align-self: flex-start;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    color: $primary-color;
  }

  td {
    color: $secondary-color-dark;
  }

  th,
  td {
    text-align: left;
    padding: 1rem 1.5rem;

    &.icon {
      max-width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  th {
    border-bottom: 1px solid $primary-color;
  }

  tr:hover {
    cursor: pointer;
    td {
      background-color: $white-ivory;
      color: $primary-color;
    }
  }
}
