.form-component:has(input[type='radio']) {
  input[type='radio'] {
    appearance: none;
    background-color: $white-color;
    margin: 0;
    color: $primary-color;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    transform: translateY(4px);
    transition: outline 0.1s ease;
    margin-left: 0.5rem;
  }

  input[type='radio']:checked {
    background-color: $primary-color;
    background-clip: content-box;
    padding: 0.14rem;
    background-image: radial-gradient(
      circle,
      $primary-color 0%,
      $primary-color 50%,
      transparent 60% transparent 100%
    );
  }

  .fa {
    margin-left: 0.4rem;
    margin-right: 0.2rem;
  }
}

.radio-buttons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: $primary-color;

  span {
    transform: translateY(2px);
    min-width: 4rem;
  }
}
