a {
  text-decoration: none;
  font-size: inherit;
  :hover {
    cursor: pointer;
  }
}

@mixin link {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: 2s ease;
}

@mixin highlight($color) {
  color: $color;
  border-bottom: 2px solid $color;
}

.link-primary {
  @include link;
  color: $primary-color;

  &:hover {
    @include highlight($primary-color-light);
  }
}

.link-secondary {
  @include link;
  color: $secondary-color;

  &:hover {
    @include highlight($secondary-color-dark);
  }
}

.router-link-active {
  @include highlight($primary-color-light);
}
