.navbar {
  .container {
    @include base-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    @include xs {
      display: none;
    }
  }

  .logo {
    font-size: 1.8rem;
    color: $primary-color;
    text-transform: uppercase;
  }
}
